body {
    background-color: #1F2833;
    font-family: arial;
    font-size: 2em;
}

.layout{
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 900px;

}

.box {
    height: 150px;
    width: 500px;
    margin-bottom: 100px;

}

.block {
    height: 15px;
}

.label {
    color: #b403d0;
    font-weight: bold;
}

.input {
    border-radius: 50px;
    border: none;
    padding: 8px 10px;
    width: 200px;
}

.input::placeholder {
    font-size: 17px;
}

.button {
    padding: 8px 8px;
    border-radius: 30px;
    font-weight: bold;
    background-color: #9801b9;
    color: white;
    border: none;
}


.result {
    color: #C5C6C7;
    font-weight: bold;
}
